{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Admin page</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href={% static 'css/admin.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <script src="{% static 'js/AdminHome.js' %}"></script>
    <div class="container">
        <nav>
            <a href="http://127.0.0.1:8000">
                <h2>Teach<span>Hub</span></h2>
            </a>
            
            <ul>
                <li>
                   <a href="ProfilePage.html"><img src="{%  static 'image/download.png' %}" class="pro" width="20px"></a>
                <a href="ProfilePage.html" class="wel"></a>
                </li>
                <li>
                    <a href="Login.html" class="sign">Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
    <span class="button">
        <a href="AddTask.html/"><button>Add Task</button></a>
    </span>
    <br>
    <label for="list" class="teacher">Teacher list</label>
    <select name="teacher" id="list">
        <optgroup id="optgroup">
            {% for user in users %}
            {% if user.Type_of_profile == "Teacher" %}
            <option value="{{ forloop.counter1 }}">{{ user.User_name }}</option>
            {% endif %}
            {% endfor %}
        </optgroup>
    </select>
    <a href="CreatedTask.html"><p class="tit">List of Tasks</p></a>

    <div class="radio">
        <pre> 
            <input type="radio" name="Piority" id="0" onclick="pi(0)" checked> <label for="0" class="space"> All </label>      <input type="radio" name="Piority" id="1" onclick="pi(1)"> <label for="1" class="space"> Low       </label><input type="radio" name="Piority" id="2" onclick="pi(2)"><label for="2" class="space"> Medium      </label><input type="radio" name="Piority" id="3" onclick="pi(3)"><label for="3" class="space"> High        </label></pre>
    </div>
    <div class="con"></div>
</body>

</html>