{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Edit my profile</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{%  static 'css/profile.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <script src="{%  static 'js/EditProfilePage.js' %}"></script>

    <div class="container"></div>
    <nav>
        <a href="http://127.0.0.1:8000">
            <h2>Teach<span>Hub</span></h2>
        </a>
        <ul>

            <li>
               <a onclick="toHome()"><img src="{%  static 'image/download.png' %}" class="pro" width="20px"> My Home</a>
            </li>
            <li>
                <a href="Login.html">Sign out</a>
            </li>
        </ul>
    </nav>
    </div>


    <form id="post-form" method="POST" class="form">
        {% csrf_token %}
        <img src="{% static 'image/editprofile.png' %}" class="imag">
        <div class="f">
            <img src="{% static 'image/download.png' %}" class="img">

            <div class="pa">
                <label for="as">type:</label>
                <input id="as" name="type" type="text" readonly class="input">
            </div>
        
            <div class="pa">
                <label for="user">User name:</label>
            
                <input type="text" id="user" name="user" class="input" readonly>
            </div>
            <div class="pa">
                <label for="old pass">Old password:</label>
            
                <input type="password" name="old pass" id="old pass" class="input" autofocus>
            </div>
        
            <div class="pa">
                <label for="newpass">New password:</label>
            
                <input type="password" name="newpass" id="newpass" class="input">
            </div>
            <div class="pa">
                <label for="confirm">Confirm new password:</label>
            
                <input type="password" name="confirm" id="confirm" class="input">
            </div>
        
            <div class="pa">
                <label for="email">Email:</label>
            
                <input type="email" name="email" id="email" class="input">
            </div>
        
            <div class="pa">
                <label for="num">Phone number:</label>
            
                <input type="text" id="num" name="num" class="input">
            </div>
        
            <label for="about">About:</label>
            <textarea class="about" name="about" id="about" cols="40" rows="10"placeholder="About you"></textarea>
            <div class="but">
                <a href="http://127.0.0.1:8000/login/edit/"><button type="submit" class="save">save</button>
            </div>
        </div>
    </form>
    </div>

</body>

</html>