* {
    font-family: 'Times New Roman', Times, serif;
    color: #02457a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow-x: hidden;
}

.form {
    margin: 0 32% 0 8%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #02457A;
    color: #d6e8ee;
    border-color: #001b4b;
    border-radius: 15px;
    width: 100px;
    height: 40px;
}

input {
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
}

.button {
    background: #02457A;
    border-radius: 10px;
    color: #d6e8ee;
    margin-top: 35px;
    display: block;
    margin: 20px;
}

.button:hover {
    background-color: #97cadbb9;
    color: #001b4b;
    cursor: pointer;
}

.input {
    border-bottom: 2px solid #02457A;
    background: transparent;
    display: block;
    margin: 20px;
}

form h1 {
    font-size: 2.5rem;
    color: #97cadbb9;
    padding-bottom: 10px;
}

form h1 span {
    color: #02457A;
}

.radio {

    height: 20px;
    width: 20px;
    margin-top: 10px;
    display: inline-flex;
}

.space {
    margin-right: 20px;
}

.login {
    background: #02457A;
    border-radius: 10px;
    color: #d6e8ee;
    margin-top: 35px;
    display: block;
    margin: 20px;
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
}

.login:hover {
    background-color: #97cadbb9;
    color: #001b4b;
    cursor: pointer;
}

nav {

    justify-content: space-between;

    margin: 30px;

}


nav h2 {
    color: #02457A;
    text-align: left;

}
.img{
    width: 82%;
    max-height: 100%;
}
.m{
    margin-top: 20%;
}